cluster:
  enabled: true
  slaveCount: {{ sub (.Values.redis.scale | int) 1 }}

usePassword: true
password: {{ .Values.redis.password }}

master:
  persistence:
    enabled: false

slave:
  persistence:
    enabled: false

sentinel:
  enabled: true
  masterSet: {{ .Values.redis.serviceName }}

securityContext:
  sysctls:
    - name: net.core.somaxconn
      value: "10000"

podSecurityPolicy:
  create: true