cluster:
  enabled: true
  slaveCount: {{ .Values.redis.scale }}

usePassword: true
password: {{ .Values.redis.password }}

master:
  persistence:
    enabled: true
    storageClass: {{ .Values.storageClass }}

slave:
  persistence:
    enabled: true
    storageClass: {{ .Values.storageClass }}

sentinel:
  enabled: true
  masterSet: {{ .Values.redis.serviceName }}