email: me@floriswesterman.nl
solvers:
  - dns01: # We add a DNS solver for the wildcard domains for tenant matching
      cloudflare:
        email: me@floriswesterman.nl
        apiTokenSecretRef:
          name: {{ .Release.Name }}-cloudflare
          key: apiToken
    selector:
      dnsZones:
        - corpool.nl
  
  - http01:
      ingress:
        class: nginx
    selector: {}

secrets:
  cloudflare:
    apiToken: {{ .Values.cloudflare }}