clusterIssuer: letsencrypt

backend:
  name: backend
  environment: []
  secrets: []

mongo:
  rootPassword: {{ randAlphaNum 10 | b64enc | quote }}
  userName: corpool
  userPassword: {{ randAlphaNum 10 | b64enc | quote }}
  database: admin # authdatabase

  replicaSetKey: {{ randAlphaNum 10 | b64enc | quote }}
  replicaSetName: rs0
  scale: 3
